.oe_stat_button.blue-icon .fa {
    color: #3c55aa !important;
}
.o_field_widget.blue-icon {
    color: #3c55aa !important;
}
.o_stat_value.blue-icon{
    color: #3c55aa !important;
}
.o_stat_text.blue-icon{
    color: #3c55aa !important;
}
