@font-face {
    font-family: 'Tajawal-Regular';
    src: url('../fonts/Tajawal-Regular.eot');
    src: url('../fonts/Tajawal-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Tajawal-Regular.woff2') format('woff2'),
         url('../fonts/Tajawal-Regular.woff') format('woff'),
         url('../fonts/Tajawal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sar-symbol';
    src:  url('../fonts/sar-symbol.eot?ebwrxj');
    src:  url('../fonts/sar-symbol.eot?ebwrxj#iefix') format('embedded-opentype'),
        url('../fonts/sar-symbol.ttf?ebwrxj') format('truetype'),
        url('../fonts/sar-symbol.woff?ebwrxj') format('woff'),
        url('../fonts/sar-symbol.svg?ebwrxj#sar-symbol') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'sar-symbol' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sar:before {
    content: "\e900";
}
/* General font settings */
*:not(.fa):not(.oi) {
    font-family: 'Tajawal-Regular', 'sar-symbol', sans-serif !important;
}

/* Report specific elements */
.page, .header, .footer {
    font-family: 'Tajawal-Regular', 'sar-symbol', sans-serif !important;
}

/* Special class for SAR amount fields */
.oe_currency_value::before {
    content: '\e900';
    font-family: 'sar-symbol' !important;
    display: inline-block;
    margin-right: 0;
    visibility: hidden;
    width: 0;
}

/* Ensure SAR symbol displays correctly in PDF */
@media print {
    *:not(.fa):not(.oi) {
        font-family: 'Tajawal-Regular', sans-serif !important;
    }
    .oe_currency_value::before {
        content: '\e900';
        font-family: 'sar-symbol' !important;
        display: inline-block;
        margin-right: 0;
        visibility: hidden;
        width: 0;
    }
}
