.o_control_panel {
    a.o_spreadsheet_favorite {
        margin: 0px 5px;
        &.fa-star-o {
            @include o-hover-text-color($o-main-color-muted, $o-main-favorite-color);
        }
        &.fa-star {
            color: $o-main-favorite-color;
        }
    }
}
